/node.js/node_modules
.DS_Store
.byebug_history


# python gitignored files
env
/python/bin
/python/include
/python/lib
/python/.Python
/python/pip-selfcheck.json


# swift gitignored files
/swift/Pods/
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno